{"openapi":"3.0.0","info":{"title":"API de Transparência - Identificação dos Conselhos","description":"API no padrão TCU/CFP para a dimensão IDENTIFICAÇÃO.","version":"1.0.0"},"servers":[{"url":"https://www.seu-dominio.gov.br/transparencia/api"}],"paths":{"/identificacao":{"get":{"summary":"Lista os dados de identificação do conselho","parameters":[{"name":"callback","in":"query","required":false,"schema":{"type":"string"},"description":"Nome da função para resposta JSONP."}],"responses":{"200":{"description":"Lista de registros de identificação","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"TXT_NOME_CONSELHO":{"type":"string"},"TXT_SIGLA_CONSELHO":{"type":"string"},"CNPJ_CONSELHO":{"type":"string"},"NUM_ANO_REFERENCIA":{"type":"integer"},"TXT_EMAIL":{"type":"string"},"TXT_SITE_CONSELHO":{"type":"string"},"TXT_TELEFONES":{"type":"string"},"TXT_ENDERECO":{"type":"string"},"TXT_NOME_DIRIGENTE":{"type":"string"},"CPF_DIRIGENTE":{"type":"string"},"TXT_EMAIL_PRESIDENCIA":{"type":"string"},"DATA_INICIO_GESTAO":{"type":"string","format":"date"},"DATA_PREVISTA_FIM_GESTAO":{"type":"string","format":"date"},"TXT_NOME_RESP_AUDITORIA":{"type":"string"},"TXT_TELEFONES_AUDITORIA":{"type":"string"},"TXT_EMAIL_AUDITORIA":{"type":"string"},"TXT_CARGO_RESP_AUDITORIA":{"type":"string"}}}}}}}}}},"/identificacao-schema":{"get":{"summary":"Dicionário de dados da dimensão Identificação","parameters":[{"name":"callback","in":"query","required":false,"schema":{"type":"string"},"description":"Nome da função para resposta JSONP."}],"responses":{"200":{"description":"Objeto com descrições dos campos","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}}}}
